{% extends 'base.html' %}
{% load static%}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>

    {% include 'partials/busca.html' %}
    {% include 'partials/menu.html' %}
    {% if pedidos.produtos %}
    {% for pedido in pedidos.produtos.all %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ pedido.nome_receita }} <img src="{{pedido.foto_receita.url}}" alt="">
          <a href="" type="button" class="btn btn-primary btn-sm">Remover pedido</a>
        </li>
        
      </ul>
    {% endfor %}
    {% endif %}
    {% include 'partials/footer.html'%}
{% endblock %}